<% if @weathers.any? %>
  <% @weathers.each do |weather| %>
    <h4 class="list-item"><%= link_to "#{weather.response['temperature']}°F and #{weather.response['summary']} in #{weather.address} #{weather.created_at.strftime("at %I:%M%p on %m/%d/%Y")}", weather %></h4>
  <% end %>
<% end %>
